
body {
    padding: 0;
    text-align: center;
    color: red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-image: url('./images/bg.jpg');
    background-repeat: repeat-y;
  }
  
  
  .game-intro {
    float: center;
    padding: 0% 10%;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana"
  }
  
  .logoimg {
    width: 494px;
    height: 240;
  }
 
 /* canvas {
    border: 1px solid black
 }  */

#btn {
    background: url(./images/btn.png);
    width: 110px;
    height: 36px;
    border: none;
  }

  #game-road {
    float: right;
    padding: 20px 0px;
}

    #game-board {
    float: right;
}